extends layout

block content
  h1= title
  p 欢迎使用

  #menu
    button#getTemperature 查看温度
    button#openAirCondition 打开空调
    button#closeAirCondition 关闭空调

  #content
    #temperature
        p This place displays the temperature
    #aircondition
        p This place displays the aircondition